<h1 class="title">{$title}</h1>
<table class="table table-hover stu-table">
    <thead>
        <tr>
            <th class="no-show id"> ID </th>
            <th class="text nick_name">姓名</th>
            <th class="text hdu">HDU 账号</th>
            <th class="text poj">PKU 账号</th>
            <th class="text cf">Codeforces 账号</th>
            <th class="text bc">BestCode 账号</th>
            <th class="text sdut">SDUT 账号</th>
            <th class="text sdibt">SDIBT 账号</th>
            <th class="selectTF is-show">是否显示</th>
            <th class="selectTF is-update">是否更新</th>
            <th class="operate">操作</th>
        </tr>
    </thead>
    <tbody>
    <foreach name="student_info" item="item">
        <tr>
            <td class="no-show id">{$item['id']}</td>
            <td class="text nick_name">{$item['nick_name']}</td>
            <td class="text hdu">{$item['hdu']|default=''}</td>
            <td class="text poj">{$item['poj']|default=''}</td>
            <td class="text cf">{$item['cf']|default=''}</td>
            <td class="text bc">{$item['bc']|default=''}</td>
            <td class="text sdut">{$item['sdut']|default=''}</td>
            <td class="text sdibt">{$item['sdibt']|default=''}</td>
            <td class="selectTF is_show">{$item['is_show']?'Yes':'No'}</td>
            <td class="selectTF is_update">{$item['is_update']?'Yes':'No'}</td>
            <td class="operate">
                <button onclick="clickOnModify(this);" class="btn btn-info table-update">修改信息</button>
                <button onclick="clickOnDelete(this);" class="btn btn-danger table-delete ">删除</button>
                <button onclick="clickOnSave(this);" class="btn btn-warning table-save" style="display: none">保存</button>
            </td>
        </tr>
    </foreach>
        <tr>
            <td class="no-show id"></td>
            <td class="text nick_name"></td>
            <td class="text hdu"></td>
            <td class="text poj"></td>
            <td class="text cf"></td>
            <td class="text bc"></td>
            <td class="text sdut"></td>
            <td class="text sdibt"></td>
            <td class="selectTF is_show"></td>
            <td class="selectTF is_update"></td>
            <td class="operate">
                <button onclick="clickOnCreate(this);" class="btn btn-info table-create">增加</button>
                <button onclick="clickOnSave(this);" class="btn btn-warning table-save" style="display: none">保存</button>
            </td>
        </tr>
    </tbody>
</table>