<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f7F7F7;">
    <a class="navbar-brand" href="#">Step Training Backstage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{:U('Admin/Manager/student')}"> 学生管理 </a>
            <a class="nav-item nav-link" href="{:U('Admin/Manager/category')}"> 分类管理 </a>
            <a class="nav-item nav-link" href="{:U('Admin/Manager/problem')}"> 问题管理 </a>
            <a class="nav-item nav-link" href="{:U('Admin/Manager/user')}"> 用户管理 </a>
        </div>
    </div>
    <a class="hello-user">
        Welcome you: {$user}
    </a>
</nav>