<h1 class="title">{$title}</h1>

<div class="table-responsive">
    <table class="table table-hover table-bordered table-condensed" id="plan-table">
        <thead>
        <tr>
            <th class="question"></th>
            <th class="no-show">ID</th>
            <foreach name="student_list" key="key" item="stu">
                <th class="student">{$stu['nick_name']} <br> {$stu['class']}</th>
            </foreach>

        </tr>
        </thead>

        <tbody>
            <foreach name="problem_list" key="key" item="problem">

                <tr>
                    <th class="question">
                        <b class="problem">{$problem['origin_oj']|strtoupper} {$problem['origin_id']}</b>
                        <b class="category">{$category_list[$problem['category_id']]}</b>
                    </th>
                    <td class="no-show"> {$problem['id']} </td>
                    <foreach name="student_list" key="id" item="stu">
                        <th class="student">
                            <empty name="student_ac_list[$problem['id']][$id_to_stu[$id]]">
                                <else/>
                                {$student_ac_list[$problem['id']][$id_to_stu[$id]]|strtotime|date='Y-m-d', ###}
                            </empty>
                        </th>
                    </foreach>

                </tr>

            </foreach>
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function() {
        $(".table-responsive").css('max-height', $(window).height() * 0.72);
    });
</script>